@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
 }
 
 body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1b1b1b;
 }

 .validate-signal-lamp {
  &__title {
   position: relative;
   font-size: 24px;
   color: #999999;
   font-weight: 500;
   margin-bottom: 10px;
  }
  &__form {
   position: relative;
   border: 2px solid #131313;
   background-image: linear-gradient(#1e2024, #18181c);
   border-radius: 4px;
   overflow: hidden;
  }
  &__input {
   &-email {
    padding: 12px 15px;
    padding-right: 50px;
    width: 330px;
    outline: none;
    background-color: transparent;
    border: navajowhite;
    color: #ffffff;
    font-size: 18px;
    &-indicator {
     position: absolute;
     top: 20px;
     right: 20px;
     width: 10px;
     height: 10px;
     background-color: #555;
     border-radius: 50%;
     &._valid {
      background-color: #0f0;
      box-shadow: 0 0 5px #0f0,
                  0 0 10px #0f0,
                  0 0 20px #0f0,
                  0 0 40px #0f0;
     }
     &._invalid {
      background-color: #f00;
      box-shadow: 0 0 5px #f00,
                  0 0 10px #f00,
                  0 0 20px #f00,
                  0 0 40px #f00;
     }
    }
   }
  }
}